@font-face {
  font-family: 'Magic School Two';
  src: url('https://www.fontsaddict.com/fontface/magic-school-two.ttf');
}

body{
  width: 100%;
  height: 100vh;
  background-image: url(assets/pics/hogwarts-hall-harry-potter-movie-hd-wallpaper-uhdpaper.com-122@0@i.jpg);
  position: absolute;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Harry Potter', Helvetica!important;
}

  

.button-container{
  color: #E7E3B0;
  background-color: rgba(102, 47, 25, 0.8);
  text-align: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;

}

#main-contain{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
background-repeat: no-repeat;
background-size:cover;
background-color: none;
}

#start-page{
margin: 20%;
display: flex;
border-radius: 90px 0px 90px 0px;
width: 50%;
justify-content: center;
align-items: center;
align-content: center;
flex-direction: column;
padding-top: 40px;
padding-bottom: 40px;
background-color: rgba(102, 47, 25, 0.8);
color: #E7E3B0;
animation-duration: 4s;
  animation-name: slidein;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    opacity: 0%;
  }
  to{
    opacity: 90%;
  }
}

#start-button{
  border-style: none;
  border-radius: 10px 0px 10px 0px;
  background-color: #E7E3B0;
}

.choose{
  font-family: 'Harry Potter', Helvetica!important;
}

#intro-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 40%;
  text-align: center;
  margin-top: 30px;
}

#form-main{
  background-color: rgba(102, 47, 25, 0.8);
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 90px 0px 90px 0px;
  margin-bottom: 15px;
}

#griff-button{
  background-color: #ac0001!important;
  border-style: none;
  color: wheat;
}

#rave-button{
  background-color: #222fbf!important;
  border-style: none;
  color: wheat;
}

#huff-button{
  background-color: #ecb939!important;
  border-style: none;
  color: wheat;
}

#snake-button{
  background-color: #2a623d!important;
  border-style: none;
  color: wheat;
}

.form-inst{
  font-size: 40px;
  color: wheat;
}

.cards-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.goodKidsDiv{
  background-color: rgba(20, 87, 13, 0.5);
  color: white;
  width: 50%;
  text-align: center;
}

.badKidsDiv{
  color: white;
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#app{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
}

#volKids{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
}

#volRed{
  background-color: red;
  color: white;
}

#card-container{
margin: 10px;
width: 150px;
height: 150px;
}